.registerForm .MuiAvatar-root{
    background-color: #187d8b !important;
}


.registerForm .MuiTypography-root{
    text-align: center;
}

.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

